
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit "Create a new restaurant", class: "btn btn-primary" %>
  <% link_to restaurants_path %>
<% end %>


<p><i class="fas fa-undo-alt"></i><%= link_to "Back to list", restaurants_path %></p>
</div>
